@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../../fonts/NHaasGroteskDSPro-55Rg.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../../fonts/NHaasGroteskDSPro-65Md.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../../fonts/NHaasGroteskDSPro-75Bd.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("../../fonts/NHaasGroteskDSPro-95Blk.woff2");
  font-weight: 900;
}
