/* Categories component */

.categories__list {
  position: relative;
  display: flex;

  flex-flow: column;
  justify-content: flex-end;
  flex: 1;
}

.categories__list-item {
  position: relative;

  display: flex;
  gap: var(--padding);
  align-items: center;

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-line-height-trim);

  color: var(--color-light);
}

.categories__list-item img {
  height: 2.5rem;
  width: auto;
  aspect-ratio: 1;
  object-fit: contain;
}

@media screen and (width < 1000px) {
  .categories__list-item img {
    height: var(--font-size-lg);
  }
}
