/* Nominees component */

.nominees-container {
  position: relative;
  padding: var(--padding-lg) 0;
  flex: 1;

  display: flex;
  flex-flow: column;
  gap: var(--padding-lg);

  transition: opacity 300ms ease-in-out;
  scroll-margin-top: var(--sizes-header-height);
}

.nominees__category {
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--padding-lg);
}

.category__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-line-height-trim);

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
}

.category__nominees-list {
  display: flex;
  flex-flow: column;
}

.category__nominee {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: 1.1;
}

.category__nominee--winner {
  color: var(--color-purple);
  order: -1;
}

.nominees__year-menu {
  position: sticky;
  bottom: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding);

  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--padding);
  z-index: 1;
}

.year-menu__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: none;
  border-radius: 50%;

  color: var(--color-light);
  background-color: var(--color-dark);

  cursor: pointer;
  transition:
    opacity 200ms ease-in-out,
    background-color 200ms ease-in-out;
}
@media screen and (pointer: fine) {
  .year-menu__arrow:not(:disabled):hover {
    background-color: var(--color-purple);
  }

  .year-menu__list-item:not(.year-menu__list-item--active):hover {
    color: var(--color-light--hover);
  }
}

.year-menu__arrow:disabled {
  opacity: 1 !important;
  background-color: var(--color-light--hover);
}

.year-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-sm);

  flex: 1;
  min-width: 0;
}

.year-menu__list-item {
  position: relative;
  padding: var(--padding-xs) var(--padding);
  border-radius: var(--padding);

  font-size: 1rem;
  font-weight: var(--font-weight-medium);

  color: var(--color-light);
  background-color: var(--color-dark);

  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.year-menu__list-item--active {
  background-color: var(--color-purple);
  color: var(--color-light);
}

@media screen and (width < 1000px) {
  .nominees__category {
    position: relative;

    display: flex;
    flex-flow: column;
    gap: var(--padding-sm);
  }

  .nominees-container {
    padding: var(--padding) 0;
  }

  .nominees__year-menu {
    width: 400px;
  }

  .year-menu__arrow {
    width: 2rem;
    height: 2rem;
  }

  .year-menu__arrow svg {
    width: 18px;
    height: 18px;
  }

  .year-menu__arrow {
    width: 2rem;
    height: 2rem;
  }

  .year-menu__list-item {
    font-size: var(--font-size-sm);
  }
}
