/* Footer styles */

#kontakt {
  justify-content: space-between;
}

.footer__links {
  position: relative;

  display: flex;
  gap: var(--padding);
}

.footer__content-wrapper {
  display: flex;
  flex-flow: column;
  gap: var(--padding);
}

.footer__team {
  position: relative;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--padding);
  row-gap: var(--padding-lg);
}

.footer__team-card {
  position: relative;
  width: 100%;

  display: flex;
  flex-flow: column;
  gap: var(--padding-sm);
}

.team-card__img {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--padding);

  filter: grayscale(1);
  object-fit: cover;
}

.team-card__info,
.footer__footer {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--font-line-height-sm);
}

.team-card__info p,
.footer__footer p {
  color: var(--color-light);
}

.footer__footer {
  padding-top: var(--padding-lg);
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  gap: var(--padding);
}

.footer__logos-list {
  position: relative;
  width: fit-content;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--padding);
}

.footer__logos-list img {
  height: var(--sizes-body-line-height-gap);
  max-width: var(--padding-xxl);
  object-fit: contain;
}

@media screen and (width < 1000px) {
  .footer__content-wrapper {
    gap: var(--padding-lg);
  }

  .footer__team {
    position: relative;

    /* display: flex;
    flex-flow: column; */
    grid-template-columns: repeat(2, 1fr);
    gap: var(--padding-sm);
    row-gap: var(--padding);
  }

  .team-card__img {
    position: relative;
    width: 100%;
    border-radius: var(--padding);

    filter: grayscale(1);
    object-fit: cover;
  }

  .footer__footer {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: var(--padding-lg);

    gap: var(--padding-lg);
  }

  .footer__links {
    flex-flow: column;
    gap: var(--padding-xs);
  }

  #kontakt .section__header {
    align-items: flex-start;
  }

  .footer__logos-list {
    position: relative;
    width: fit-content;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-flow: row wrap;
    gap: var(--padding);
  }
}
